<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Crear Slice</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <header class="header">
      <h1>Subir JSON de Slice</h1>
      <div class="actions">
        <a class="btn" href="{{ url_for('index') }}">⬅ Volver</a>
      </div>
    </header>

    <main class="card">
      <form method="POST" enctype="multipart/form-data" class="upload-form">
        <label class="file-label">Selecciona el archivo JSON</label>
        <input type="file" name="json_file" accept=".json" required>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Desplegar</button>
        </div>
      </form>
    </main>
  </div>
</body>
</html>
